@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    width: 50vw;
    max-width: 35rem;
    min-width: 16rem;    
    margin: 2rem auto;
    margin-bottom: -1rem
}
.title{
    display: flex;
    width: fit-content;
    margin: auto;
    font-size: max(26px, 3vw);
}
button{
    border-radius: 100%;
    margin: auto;
    transform: translateY(0.7vw);
}

.imgRestart{
    border-radius: 100%;
    width: 5vw;
    max-width: 2.2rem;
    min-width: 1.4rem;
}

.imgRestart:hover{
    opacity: 0.5;
    transition: 300ms;
    cursor: pointer;

}

.gameBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 59vw;
    max-width: 40rem;
    min-width: 20rem;
    margin: 0.9rem auto;

}

.shake{
    animation: shake 1s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-3px, 0); }
    20% { transform: translate(3px, 0); }
    30% { transform: translate(-3px, 0); }
    40% { transform: translate(3px, 0); }
    50% { transform: translate(-3px, 0); }
    60% { transform: translate(3px, 0); }
    70% { transform: translate(-3px, 0); }
    80% { transform: translate(3px, 0); }
    90% { transform: translate(-3px, 0); }
    100% { transform: translate(0, 0); }
}

.shakeBomb{
    animation: shakeBomb 0.5s;
}

@keyframes shakeBomb {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, -3px); }
    20% { transform: translate(5px, 3px); }
    30% { transform: translate(-5px, -3px); }
    40% { transform: translate(5px, 3px); }
    50% { transform: translate(-5px, -3px); }
    60% { transform: translate(5px, 3px); }
    70% { transform: translate(-5px, -3px); }
    80% { transform: translate(5px, 3px); }
    90% { transform: translate(-5px, -3px); }
    100% { transform: translate(0, 0); }
}

.divPoints{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto; 
    font-size: max(10px, 0.8vw);
}

.cont{
    display: inline;
    margin: 1rem;
    font-size: max(15px, 1.2vw);
}

.square{
    width: 5vw;
    min-width: 1.7rem;
    max-width: 3.5rem;
    margin: 2px;
    cursor: pointer;
    border-radius: 17%;
    transition: 200ms;
}

.squareClosed:hover{
    opacity: 0.7;
    transition: 200ms;

}

.copy{
    margin: 2vw;
    text-align: center;
    font-size: max(10px, 1vw);
}

.revealGame{
    text-align: center;
}

#msg{
    text-align: center;
}

#msg h1{
    font-size: 3rem;
    animation: jump 3s infinite ease;
}

@keyframes jump { 
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(0, -10px);
    }
    50%{
        transform: translate(0, 5px);
    }
    75%{
        transform: translate(0, -5px);
    }
    100%{
        transform: translate(0, 0);
    }
}

.rules{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    font-size: max(15px, 1.2vw);
    margin-top: 2rem;
}

.rotate{
    animation: rotate 500ms linear;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}

.sideMenu{
    margin-top: -2rem;
    margin-bottom: -2rem;
    background: #000000de;
    display: block;
    width: 15rem;
    height: 100vw;
    min-height: 60rem;
    position: fixed;
    z-index: 2;
    box-shadow: 5px 0px 9px rgba(0, 0, 0, 0.6);
    left: -15rem;
    transition: 500ms;
}

.showMenu{
    left: 0;
    transition: 500ms;
}

.menuContent{
    margin: 3rem 1rem;
    font-size: 1rem;
}

.imgArrow{
    margin-left: -0.5rem;
    transition: 300ms linear;
}

.divImgArrow:hover{
    background: #ad5e04;
    cursor: pointer;
    
}

.divImgArrow{
    display: flex;
    margin: 1rem 15rem;
    width: 2rem;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
    transition: 300ms linear;
    padding: 0.35rem 1.1rem;
    background: #E67900;
    opacity: 0.9;
}

.rotateMenuL{
    transition: 300ms linear;
    animation: rotateMenuL 400ms linear forwards;

}

@keyframes rotateMenuL {
    0%{
        transform: rotate(0);
        transform-origin: center;
    }
    100%{
        transform: rotate(180deg);    
        transform-origin: center;
    }
}

.rotateMenuR{
    transition: 300ms linear;
    animation: rotateMenuR 400ms linear forwards;

}

@keyframes rotateMenuR {
    0%{
        transform: rotate(180deg);
        transform-origin: center;
    }
    100%{
        transform: rotate(360deg);    
        transform-origin: center;
    }
}