@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bungee Spice', cursive;
}

header {
    display: flex;
    font-size: x-large;
    text-align: center;
    flex-direction: row;
    width: 30rem;
    margin: 2rem auto;
}
.title{
    display: flex;
    width: fit-content;
    margin: auto;
}
button{
    border-radius: 100%;
    margin: auto;
}

.imgRestart{
    /* box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.6); */
    border-radius: 100%;
    background: #000;
    width: 2.4rem;
}

.imgRestart:hover{
    opacity: 0.5;
    transition: 300ms;
    /* box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6); */
    cursor: pointer;

}

.gameBody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40rem;
    margin: 0.9rem auto;

}

.shake{
    animation: shake 1s;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-3px, 0); }
    20% { transform: translate(3px, 0); }
    30% { transform: translate(-3px, 0); }
    40% { transform: translate(3px, 0); }
    50% { transform: translate(-3px, 0); }
    60% { transform: translate(3px, 0); }
    70% { transform: translate(-3px, 0); }
    80% { transform: translate(3px, 0); }
    90% { transform: translate(-3px, 0); }
    100% { transform: translate(0, 0); }
}

.shakeBomb{
    animation: shakeBomb 0.5s;
}

@keyframes shakeBomb {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, -3px); }
    20% { transform: translate(5px, 3px); }
    30% { transform: translate(-5px, -3px); }
    40% { transform: translate(5px, 3px); }
    50% { transform: translate(-5px, -3px); }
    60% { transform: translate(5px, 3px); }
    70% { transform: translate(-5px, -3px); }
    80% { transform: translate(5px, 3px); }
    90% { transform: translate(-5px, -3px); }
    100% { transform: translate(0, 0); }
}

.divPoints{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto; 
    font-size: small;
}

.cont{
    display: inline;
    margin: 1rem;
    font-size: 1rem;
}



.square{
    margin: 2px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 200ms;
}

.squareClosed:hover{
    opacity: 0.7;
    transition: 200ms;

}

.copy{
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
}

.revealGame{
    text-align: center;
}

#msg{
    text-align: center;
}

#msg h1{
    font-size: 3rem;
    animation: jump 3s infinite ease;
}

@keyframes jump { 
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(0, -10px);
    }
    50%{
        transform: translate(0, 5px);
    }
    75%{
        transform: translate(0, -5px);
    }
    100%{
        transform: translate(0, 0);
    }
}

.rules{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.pts{
    transform: translate(8.7rem, -0.01rem);
}

.obj{
    margin-bottom: -1.55rem;
}

.rotate{
    animation: rotate 500ms linear;
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}